
.example-wrap {
  justify-content: center;
}
.k-form {
  width: 700px;
}
.k-input {
  width: 200px;
  display: flex;
  justify-content: left;
}
.k-label {
  display: flex;
  justify-content: left;
}

