<!--Params:{{debugMesssage}}
<br>-->
<div style="width:50%;margin: auto;padding: 10px;">
  <form [formGroup]="registerForm" class="k-form k-form-horizontal">
    <fieldset class="k-form-fieldset">
      <legend class="k-form-legend">Client Modify</legend>

      <kendo-formfield [orientation]="'horizontal'" *ngIf="formActionType!=_FormActionType.AddItem">
        <kendo-label [for]="id" text="Client Id"></kendo-label>
        <kendo-numerictextbox formControlName="id"
                              [readonly]="true"
                              format="'n'">
        </kendo-numerictextbox>
      </kendo-formfield>

      <kendo-formfield [orientation]="'horizontal'">
        <kendo-label [for]="edt_firstName" text="First Name"></kendo-label>
        <kendo-textbox formControlName="firstName">
        </kendo-textbox>
      </kendo-formfield>

      <kendo-formfield [orientation]="'horizontal'">
        <kendo-label [for]="lastName" text="Last Name"></kendo-label>
        <kendo-textbox formControlName="lastName">
        </kendo-textbox>
      </kendo-formfield>

      <kendo-formfield [orientation]="'horizontal'">
        <kendo-label [for]="personalId" text="Personal ID"></kendo-label>
        <kendo-textbox formControlName="personalId">
        </kendo-textbox>
      </kendo-formfield>

      <kendo-formfield [orientation]="'horizontal'">
        <kendo-label [for]="birthDate" text="Birth Date"></kendo-label>
        <kendo-datepicker formControlName="birthDate">
        </kendo-datepicker>
      </kendo-formfield>

      <kendo-formfield [orientation]="'horizontal'">
        <kendo-label [for]="address" text="address"></kendo-label>
        <kendo-textbox formControlName="address">
        </kendo-textbox>
      </kendo-formfield>

      <kendo-formfield [orientation]="'horizontal'">
        <kendo-label [for]="mobile" text="mobile"></kendo-label>
        <kendo-textbox formControlName="mobile">
        </kendo-textbox>
      </kendo-formfield>

      <kendo-formfield [orientation]="'horizontal'">
        <kendo-label for="clientTypeId" text="Client Type"></kendo-label>

        <kendo-combobox formControlName="clientTypeID"
                        [data]="clientTypes"
                        [textField]="'clientTypeName'"
                        [valueField]="'id'"
                        [valuePrimitive]="true"
                        (valueChange)="handleOrderChange($event)">
        </kendo-combobox>
      </kendo-formfield>

      <div class="k-form-buttons" style="margin:auto;width:50%;margin-top:15px">
        <button class='btn btn-primary' (click)="saveClicked()" style="width:100px">Ok</button>

        <button class='btn btn-primary' (click)="cancelClicked()" style="width:100px">Cancel</button>
      </div>

    </fieldset>
  </form>
</div>
